//
   Created by reinvantveer on 1/27/17.

extends layout

block content
  h1 Source files and data
  div
    div(style='float:left;width:20%')
      h2 File:
      div(id='fileMetadata')
    div(style='margin-left:20%;')
      h2 Data:
      div(id='sourcedata' style='overflow-x: auto;')
        table.table.table-striped(id='sourceDataTable')
        script(src='/js/sourcedataApp.js')
