extends layout

block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        a.navbar-brand(href='#') Schema alignment and mapping
      ul.nav.navbar-nav
        li.active
          a(href='#') Schema graph
        li
          a(href='#') Schema mappings
        li
          a(href='#') Files and data
        li
          a(href='#') Mapped data
  .jumbotron
    h1 Bulk schema analysis and file mapping
    p This application allows you to do
      ul
        li schema diff visualisation
        li schema derivation
        li file splitting
        li file mapping to linked data
    p
      a.btn.btn-primary.btn-lg(href='schema', role='button') Schema analysis
