doctype html
html
  head
    title= 'File schema graph'
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    script(src='/js/jquery-3.1.1.min.js')
    script(src='/js/bootstrap.min.js')
  body
    block content
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            a.navbar-brand(href='#') Schema alignment and mapping
          ul.nav.navbar-nav
            li.active
              a(href='#') Schema graph
            li
              a(href='#') Schema mappings
            li
              a(href='#') Files and data
            li
              a(href='#') Mapped data
      h1 Schema graph
      section(style='width:100%')
      div(style='float:left;width:70%')
        canvas(width='980' height='600')
        svg(width='980' height='480')
      div(style='margin-left:70%')
        h2 Schema
        span(id='hashText' class='glyphicon glyphicon-tag')
        br
        br
        span(id='occurrences' class='glyphicon glyphicon-file')
        br
        br
        span(id='nearestNeighbour' class='glyphicon glyphicon-link')
        br
        br
        a(href='#diff' class='glyphicon glyphicon-retweet' data-toggle='collapse')
        i Click icon to expand/collapse
        div(id='diff' class='collapse')
        br
        br
        a(href='#files' class='glyphicon glyphicon-list' data-toggle='collapse')
        i Click icon to expand/collapse
        div(id='files' class='collapse')
        br
        br
        a(href='#schemaCode' class='glyphicon glyphicon-barcode' data-toggle='collapse')
        i Click icon to expand/collapse
        pre
          code(id='schemaCode' class='collapse')

      script.
        const graphData = !{graph};
      script(src='/js/app.js')